{% extends 'Profile/dash-board.html' %}
{% block title %}ADD NEWS {% endblock %}
{% block body %}

    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-header">
                    <h3 style="text-align: center">Post News</h3>
                    </div>
                     <div class="card-body">
                                <form class="form-group" method="post"  enctype="multipart/form-data">
                             {% csrf_token %}
                                    {{ form.media }}
                                    {{ form }}
                                    <div class="form-group col-sm-12" style="margin-top: 2%">
                                        <button class="btn btn-success pull-right">Submit</button>
                                    </div>
                                </form>

                     </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}