{% extends 'Music/base.html'%}
<title> {% block title %}Politics{% endblock %}</title>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

{% block body %}
  {% load static %}


   <div class="container" style="background-color:white; margin-top: 0.5%">
   <div class="row">
    {% for news in  first_twelve_politics %}
                <div class="col-md-4 " style="padding-left: 1px;padding-right: 1px">

                        <a href="{% url 'News:display_news' news.id %}">
                            <img src="{{ news.cover_picture.url }}" class="img-fluid" style="height: 160px; width: 1000px;">

                        </a>
                        <a href="{% url 'News:display_news' news.id %}">{{ news.title }}</a>

                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" style="margin-left: 5px;color: darkgray"> <i class="fas fa-share-alt" style="color: #F0F0F0"></i>&nbsp;7</a>
                            </div>
                            <div class="col-md-4">

                            </div>
                             <div class="col-md-4" style="color: darkgray">
                                 <i class="fas fa-eye" style="color: #F0F0F0"></i>7
                             </div>

                        </div>



                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

    </div>
   <div class="row" style="margin-top: 2%">
    <img src="{% static 'image/adon1.fw.png' %}" alt="Third Slide" class="img-fluid"/>
</div>
   <div class="row">
    {% for news in last_politics  %}
                <div class="col-md-4 " style="padding-left: 1px;padding-right: 1px">

                        <a href="#">
                            <img src="{{ news.cover_picture.url }}" class="img-fluid" style="height: 160px; width: 1000px;">

                        </a>
                        <a href="#">{{ news.title }}</a>

                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" style="margin-left: 5px;color: darkgray"> <i class="fas fa-share-alt" style="color: #F0F0F0"></i>&nbsp;7</a>
                            </div>
                            <div class="col-md-4">

                            </div>
                             <div class="col-md-4" style="color: darkgray">
                                 <i class="fas fa-eye" style="color: #F0F0F0"></i>7
                             </div>

                        </div>



                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

    </div>
   </div>
{% endblock %}